/BasicPage.class
/CustomerManagementPage.class
/ForgetPasswordPage.class
/LoginPage.class
/LogoutPage.class
/TitlePage.class
/TravelCustomerPage.class
/TravelsCarsExtrasPage.class
/TravelsCarsPage.class
/TravelsMenuPage.class
